<!-- Main Footer -->
<style>
  .main-footer{
    background: rgba(94, 94, 94, .2) !important; 
    color: black;
  }
</style>
<footer class="main-footer">
  <strong>
    &copy; <span id="currentYear"></span>
    <a href="https://protegk.com" target="_blank">PROTEGK IT Solutions</a>.
  </strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0.0 | <b>EHS-360</b>
  </div>
</footer>

<script>
  // Set current year dynamically
  document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>